body {
  background: linear-gradient(90deg, #6774e7 5%, #749de9) 95%;
}
@keyframes  typing {
  from{ width: 0pt}
  to {width: 23%}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: ivory; }
}
h1{
  margin-top: 1.5%;
  margin-left: 1.5%;
  font-size: 17pt;
  text-align: left;
  font-weight: 200;
  color: ivory;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
h2{
  margin: 0;
  margin-left: 1.5%;
  font-size: 13pt;
  text-align: left;
  font-weight: 200;
  color: ivory;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
  margin: .7%;
  margin-bottom: 2%;
  margin-left: 3.4%;
  font-size: 11pt;
  text-align: left;
  font-weight: 200;
  color: ivory;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  margin: 0;
  margin-left: 20pt;
  margin-top: 2pt;
  margin-bottom: 2pt;
  font-size: 10pt;
  text-align: left;
  font-weight: 200;
  color: ivory;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h5{
  margin: 0;
  margin-left: 28pt;
  margin-top: -3pt;
  margin-bottom: 7pt;
  font-size: 11pt;
  text-align: left;
  font-weight: 200;
  color: ivory;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topnav mg{
  font-weight: 150;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27pt;
  float: left;
  margin-left: 12pt;
  margin-top: 18pt;
  color: ivory;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .01em solid ivory; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line *//* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 1.7s steps(17, end),
    blink-caret .75s step-end infinite;
}
.topnav mg:hover{
  color: rgba(255, 255, 240, 0.308);
}
/* Add a black background color to the top navigation */
.topnav a, b, c, d, e{
  overflow: hidden;
  float: right;
  margin-left: 2pt;
  margin-top: 18pt;
  margin-right: 10pt;
  background:transparent;
}
.topnav a:hover {
  color: rgba(255, 255, 240, 0.582);
  border-color: ivory;
}
.topnav a, b, c ,d, e{
  border: .05rem solid rgba(237, 239, 241, 0);
  border-radius: 1.1rem;
  box-sizing: border-box;
  color: ivory;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.12rem;
  font-weight: 150;
  line-height: 1.4;
  padding: .5rem .9rem;
  text-align: center;
  text-decoration: none #60769e solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2.05%;
  margin-right: 15pt;
}
.container{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  color: ivory;
  background: transparent;
  border: .05rem solid transparent;
  border-top: .05rem ivory;
  border-style: solid;
  margin-left: 1.2%;
  margin-right: 5%;
  width: 96%;
  height: 90%;
  margin-top: 6.3%;
  border-bottom: transparent;
  align-items: center;
  pointer-events: none;
  display: flex;
  justify-content: center;
  position: absolute;
}
.ContainerEducation{  
  border: .05rem solid ivory;
  position: absolute;
  margin-left: 4%;
  margin-top: 9%;
  width: 460pt;
  height: 123pt;
  border-radius: 5pt;
}
.lineEd{
  border: .05rem solid ivory;
  position: absolute;
  margin-left: 4%;
  margin-top: 12%;
  width: 460pt;
  height: 451pt;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}
.ContainerCoursework{  
 border: .05rem solid ivory;
  position: absolute;
  margin-left: 4%;
  margin-top: 22.6%;
  width: 460pt;
  height: 141pt;
  border-radius: 5pt;
}
.lineCourse{
  border: .05rem solid ivory;
  position: absolute;
  margin-left: 4%;
  margin-top: 25.7%;
  width: 460pt;
  height: 451pt;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}
.ContainerSkills{  
  border: .05rem solid ivory;
  position: absolute;
  margin-left: 4%;
  margin-top: 37.9%;
  width: 460pt;
  height: 140pt;
  border-radius: 5pt;
}
.lineSkills{
  border: .05rem solid ivory;
  position: absolute;
  margin-left: 4%;
  margin-top: 40.9%;
  width: 460pt;
  height: 451pt;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}
.ContainerWork{  
  border: .05rem solid ivory;
  position: absolute;
  margin-left: 52%;
  margin-top: 9%;
  width: 460pt;
  height: 452pt;
  border-radius: 5pt;
  
}
.lineWork{
  border: .12rem solid ivory;
  position: absolute;
  margin-left: 52%;
  margin-top: 12%;
  width: 460pt;
  height: 451pt;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}

.dark-mode {
  background: linear-gradient(90deg, rgb(25, 26, 26) 5%, rgb(54, 58, 61) 95%);
}
button {
  font-weight: 150;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27pt;
  float: left;
  border-top: transparent;
  border-left: transparent;
  border-bottom: transparent;
  background-color: transparent;
  margin-left: 12pt;
  margin-top: 18pt;
  color: ivory;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .01em solid ivory; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
  typing 1.7s steps(17, end),
  blink-caret .75s step-end infinite;
}
button:hover{
  color: rgba(255, 255, 240, 0.308);
}
.tab1 {
  display: inline-block;
  margin-left: 252px;
}
.tab2 {
  display: inline-block;
  margin-left: 290px;
}
.tab3 {
  display: inline-block;
  margin-left: 305px;
}
.tab4 {
  display: inline-block;
  margin-left: 400px;
}
.tab5 {
  display: inline-block;
  margin-left: 183px;
}
.tab6 {
  display: inline-block;
  margin-left: 266px;
}
.tab7 {
  display: inline-block;
  margin-left: 305px;
}
.tab8 {
  display: inline-block;
  margin-left: 297px;
}
.tab9 {
  display: inline-block;
  margin-left: 400px;
}
.tab10 {
  display: inline-block;
  margin-left: 360px;
}
.tab11 {
  display: inline-block;
  margin-left: 339px;
}
.tab12 {
  display: inline-block;
  margin-left: 326px;
}
.tab13 {
  display: inline-block;
  margin-left: 365px;
}
.tab14 {
  display: inline-block;
  margin-left: 335px;
}